RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule		index.html 			index.php?module=phone&controller=index&action=index
RewriteRule		home.html 			index.php?module=phone&controller=index&action=index
RewriteRule		blog.html 			index.php?module=phone&controller=article&action=list
RewriteRule		about.html 			index.php?module=phone&controller=about&action=list
RewriteRule		faq.html 			index.php?module=phone&controller=faqphone&action=list
RewriteRule		contact.html 		index.php?module=phone&controller=contact&action=index
RewriteRule		category.html 		index.php?module=default&controller=category&action=index
RewriteRule		register.html 		index.php?module=default&controller=index&action=register
RewriteRule		login.html 			index.php?module=default&controller=index&action=login
RewriteRule		cart.html 			index.php?module=default&controller=user&action=cart
RewriteRule		my-account.html 	index.php?module=default&controller=user&action=index
RewriteRule		history.html 		index.php?module=default&controller=user&action=history

RewriteRule     basket.html         index.php?module=phone&controller=cart&action=detail
RewriteRule     checkout.html       index.php?module=phone&controller=cart&action=checkout
RewriteRule     search.html         index.php?module=phone&controller=phone&action=search

RewriteRule		([A-Za-z0-9_-]+)-([0-9]+)\.html 		index.php?module=phone&controller=phone&action=list&category_phone_id=$2

RewriteRule		([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)-([0-9]+)-([0-9]+)\.html 		index.php?module=phone&controller=phone&action=detail&category_phone_id=$3&phone_id=$4

RewriteRule		detail-phone-([0-9]+)\.html 	                                index.php?module=phone&controller=phone&action=detail&phone_id=$1
RewriteRule     detail-phone/quick-view-([0-9]+)\.html                        index.php?module=shop&controller=phone&action=quickView&phone_id=$4
RewriteRule		list-phone-([0-9]+)\.html 	        index.php?module=phone&controller=phone&action=list&category_phone_id=$1
RewriteRule	    blog-detail/cate-([0-9]+)/([0-9]+).html    index.php?module=phone&controller=article&action=detail&category_phone_id=$1&blog_id=$2